.lesson {
    &__header {
        margin: 30px 0px;
        background-color: #409AFC;
        border-radius: 10px;
        padding: 10px 20px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.6;
        color: #fff;
    }

    &__form {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    &__desc {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
    }

    &__label-desc {
        padding-bottom: 8px;
    }

    &__position {
        width: auto;
    }

    &__card {
        margin-bottom: 30px;
    }

    &__card-item {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
        height: 100%;
    }

    // filter
    &__filter-bar {
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    // end filter
}